// Created by YuanZhe(https://bsyyyz.github.io/YuanZhe)
page {
    --primary-color: #1677ff;
    --bsyy-picker-background-color: #eee;
    --bsyy-picker-mask: linear-gradient(180deg, hsla(0, 0%, 100%, 0.95), hsla(0, 0%, 100%, 0.6)), linear-gradient(0deg, hsla(0, 0%, 100%, 0.95), hsla(0, 0%, 100%, 0.6));
}
